
<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="css/styleHeader.css">-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<!--add icon-->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<body>
<!--Thanh Navbar top-->
<div class="em" style="background: white;">
    <div class="container">
        <header>
            <div class="MenuLogo">
                <img src="image/logo.png">
            </div>
            <div class="heared">
                <div class="btn1">
                    <li><a href=""><i class="fas fa-calendar-day"></i>ĐĂNG KÝ TIÊM</a></li>
                </div>
                <div class="btn2">
                    <a href="login.html"><button>Đăng nhập</button></a>
                    <a href="registration.html"><button>Đăng ký</button></a>
                </div>
            </div>
        </header>
    </div>
    <!-----Menu------>
    <div class="wrapper">

        <nav class="content">
            <ul class="main-menu">
                <li class="menu active" ><a href="">TRANG CHỦ</a></li>
                <li class="menu"><a href="introduce.html">GIỚI THIỆU</a></li>
                <li class="menu"><a href="">TIÊM CHỦNG CHO TRẺ EM</a>
                    <ul class="submenu">
                        <li><a href="">Lịch tiêm chủng cho trẻ em</a></li>
                        <li><a href="vaccineTE.html">Các loại vắc xin cho trẻ em</a></li>
                    </ul>
                </li>
                <li class="menu"><a href="">TIÊM CHỦNG CHO NGƯỜI LỚN</a>
                    <ul class="submenu">
                        <li><a href="">Lịch tiêm chủng cho người lớn</a></li>
                        <li><a href="vaccineNL.html">Các loại vắc xin cho người lớn</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</div>

</body>
</html>
</body>
